:root{
    --padding: 10px;
    --background-color: darkblue;
    --border: 1px solid black;
    
}

nav {
    background-color: var(--background-color);
    padding: var(--padding);

}

nav a {
    color: white;
    display: block;
    padding: var(--padding);

}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}



p {
    padding: 0;
}

main{
    max-width: 480px;
    border: var(--border);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 10px;
    border-top: 2px solid #222;
    text-align: center;
}