:root{
    --padding: 10px;
    --background-color: darkblue;
    --border: 1px solid black;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--background-color);
    padding: var(--padding);

}

nav a {
    color: white;
    display: block;
    padding: var(--padding);

}

h1 {
    color: darkblue;
    margin: 10px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;

}



p {
    padding: 0;
    
}

main{
    max-width: 480px;
    border: var(--border);

}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}
aside h2{
    position: absolute;
    top: 25px;
    left: 120px;
    color: rgb(252, 251, 251);
}

aside img{
    width: 200px;
    height: auto;

}

footer{
    margin-top: 10px;
    border-top: 2px solid #222;
    text-align: center;
}
/* Class Selectors */
.box{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    background-color: rgb(176, 181, 185);
    color: #333;
}