body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;

}

main{
    width: 400px;
    margin: 0 auto;
}

h1{
    margin: 10px;
    text-align: center;
}

img{
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

section{
   
    padding: 10px;
    margin: 20px auto;
    background-color: lightgray;
}

h2{
    border-bottom: 2px solid #333;
}
footer{
        background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
            font-size: 1.5rem;

}